<form action="/updatecontact" method="POST">
    Person Name <input type="text" name="name" value={{results.person_name}}>
 Contact Number<input type="text" name="number" value={{results.contact_number}}>
    <input type="submit" value="submit">
</form>